body{
    background-color:thistle;
    font-size: 15px;
    color: black;
    margin: auto;
    width: 70%;
}
h1{
    border-bottom: 2px solid black;
    color: red;
    font-size: 16px;
    
}
a:hover{
    background-color:crimson;
}
a{
    color: white;
}
img{
    float: right;
}